
@{
    ViewBag.Title = "Welcome to the Depletion Calculator";
}
<div class="container">
    <h2>Index</h2>

    <p>Please enter optimal usage to check depletion</p>


    <div class="form-group">
        <label for="email">Inventory Item Name:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="InvItem">Enter Items optimal usage from the Daily Inv Reconcilliation:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>