<!--This view will display the ItemListViewModel. Usually it would be named ItemList but it is named index it will be the default view under Item -->

@Model  DepCalc.Models.ItemListViewModel
@{
    ViewBag.Title = "Inventory Items";
}

<h2>Index</h2>

