@model DepCalc.Models.InvItemListViewModel

@{
    ViewBag.Title = "InvItems";
}

<h2>Inv Items</h2>

<table class="table table-striped">
    <thead>
        <tr><th>Inventory Items</th><th></th></tr>

    </thead>
    <tbody>
        @for (var i = 0; i < Model.AllInvItems.Count; i++)
        {
            <tr>
                <td>@Model.AllInvItems[i].ItemProdInfo</td>
                <td>@Html.ActionLink("Detail", "ItemDetail", new { id = Model.InvItems[i].InvItemId })</td>
            </tr>
        }
    </tbody>
</table>

<div class="col-sm-12 form-group">
    <label>Total Items:</label> @Model.TotalInvItems
</div>
<div class="col-sm-12">
    @Html.ActionLink("Add Item", "ItemAdd", null, new { @class = "btn btn-primary" })
</div>


